@charset "UTF-8";

// ------------------------------------------------------------------------
// Variables
// ------------------------------------------------------------------------

$cyan: #6eebde;
$pink: #ffdada;

$margin: 30px;
$double-margin: $margin*2;

// ------------------------------------------------------------------------
// External files import
// ------------------------------------------------------------------------

@import 'bootstrap-scss/_functions';
@import 'bootstrap-scss/_variables';
@import 'bootstrap-scss/mixins/_breakpoints';
@import '_reset';
@import '_typography';
@import '_mixins';


// ------------------------------------------------------------------------
// General tags & classes
// ------------------------------------------------------------------------

* {
  font-family: Hatton, serif;
  color: black;
}






// ------------------------------------------------------------------------
// Utilities
// ------------------------------------------------------------------------

.color-white { color: white; }

// ------------------------------------------------------------------------
// BOOTSTRAP BREAKPOINTS

// xs ---                 Portrait phones
// sm ---  576px and up   Small devices (landscape phones)
// md ---  768px and up   Medium devices (tablets)
// lg ---  992px and up   Large devices (desktops)
// xl --- 1200px and up   Extra large devices (large desktops)

// No media query necessary for xs breakpoint as it's effectively `@media (min-width: 0) { ... }`
// @include media-breakpoint-up(sm) { ... }
// @include media-breakpoint-only(md) { ... }
// @include media-breakpoint-between(md, xl) { ... }
// @include media-breakpoint-down(lg) { ... }


// ------------------------------------------------------------------------
// GRID
// ------------------------------------------------------------------------

.container-fluid {
	padding-left: $double-margin;
	padding-right: $double-margin;
	.row {
		padding-top: $double-margin;
		padding-bottom: $double-margin;
	}
}

// ------------------------------------------------------------------------
// PAGES
// ------------------------------------------------------------------------

.gradient-bknd {
	position: relative;
	&:before {
		content:'';
		display: inline-block;
		position: absolute;
		top: 0;
		left:0;
		height: 100vh;
		width: 100%;
		@include linearGradientV($cyan, white);
	}
}

.img-container {
	margin-top: 25vw;
	.portrait-img {
		width: calc(50% - 16vw);
	  height: 0;
	  padding-bottom: 50%;
	  margin: 8vw;
	  display:inline-block;
	  float: left;
	  background-size: cover;
		background-position: center center;
		&:nth-of-type(2n+1) {
			margin-top: -10vw;
		}
	}
}


#home {
	.home-opening {
		.container-fluid {
			.row {
				padding-top: 0;
				padding-bottom: 0;
			}
		}
	}
	.home-img-container {
		margin-top: 10vw;
		.col-md-4 {
			margin-top: 10vw;
			.cyan-img, .portrait-img {
		    width: 100%;
				height: 0;
			  padding-bottom: 110%;
			  background-size: contain;
		    background-position: center center;
		    background-repeat: no-repeat;
			}
			&:nth-of-type(3n+2) {
				margin-top: -10vw;
			}
		}
	}
}

#collection {
	.collection-opening {
		height: 90vh;
		background-size: cover;
		background-position: center center;
	}
	.text-container {
		margin-top: -10vw;
	}
	.moodboard {
		margin:$double-margin -#{$double-margin};
		height: 0;
	  padding-bottom: 100%;
		background-size: cover;
		background-position: center center;
	}
}
