@charset "UTF-8";

// ------------------------------------------------------------------------
// Variables
// ------------------------------------------------------------------------

$cyan: #6eebde;
$pink: #ffcaca;

$padding: 25px;
$double-padding: $padding*2;

$header-h: 60px;


// ------------------------------------------------------------------------
// External files import
// ------------------------------------------------------------------------

@import 'bootstrap-scss/_functions';
@import 'bootstrap-scss/_variables';
@import 'bootstrap-scss/mixins/_breakpoints';
@import '_reset';
@import '_typography';
@import '_mixins';


// ------------------------------------------------------------------------
// General tags & classes
// ------------------------------------------------------------------------

* {
  font-family: Hatton, serif;
  color: black;
}

main {
	padding-top: $header-h;
	&#home {
		padding-top: 25vw;
	}
}

a {
	text-decoration: none;
	&.active, &:hover {
		text-decoration: underline;
	}
}


// ------------------------------------------------------------------------
// Utilities
// ------------------------------------------------------------------------

.color-white	{ color: white; }
.font-600   	{ font-weight: 600; }


// ------------------------------------------------------------------------
// GRID
// ------------------------------------------------------------------------

.container-fluid {
	padding-left: $double-padding;
	padding-right: $double-padding;
	.row {
		padding-top: $padding;
		padding-bottom: $padding;
	}
}


// ------------------------------------------------------------------------
// COMPONENTS
// ------------------------------------------------------------------------

nav#menu {
	position: fixed;
	z-index: 10;
	top: 0; left: 0; right: 0;
	height: $header-h;
}
nav#menu, nav#menu-home {
	a.menu-item {
		@include font-sans-m;
		display: inline-block;
		margin-left: 15px;
	}
}

.link[data-url] {
	cursor: pointer;
}


// ------------------------------------------------------------------------
// PAGES
// ------------------------------------------------------------------------

.gradient-bknd {
	position: relative;
	&:before {
		content:'';
		display: inline-block;
		position: absolute;
		top: 0;
		left:0;
		height: 100vh;
		width: 100%;
		@include linearGradientV($cyan, white);
	}
}

.tall-page-title {
	height: 50vh;
}


#home {
	.home-opening {
		position: fixed;
		top: 0; left: 0; right: 0;
		z-index: 9;
		.logo {
			padding-top: $padding;
			display: block;
		}
		nav#menu-home {
			top: 0; left: 0; right: 0;
			height: $header-h;
			#home-small-logo {
				position: relative;
				opacity: 0;
				top: 20px;
				@include transition(opacity 400ms, top 400ms);
			}
		}
		&.stick {
			.logo { opacity: 0; }
			nav#menu-home {
				position: fixed;
				#home-small-logo { opacity: 1; top: 0; }
			}
		}
	}
	.home-img-container {
		margin-top: 10vw;
		.col-md-4 {
			margin-top: 10vw;
			.cyan-img, .portrait-img {
		    width: 80%;
				height: 0;
				margin: 0 auto;
			  padding-bottom: 110%;
			  background-size: cover;
		    background-position: center center;
		    background-repeat: no-repeat;
			}
			.cyan-img {
				width: 100%;
				background-size: contain;
			}
			@include media-breakpoint-up(md) {
				&:nth-of-type(3n+2) {
					margin-top: -10vw;
				}
			}
		}
	}
	.blog-preview {
		padding: $double-padding 0;
		position: relative;
		&:before {
			content:'';
			position: absolute;
			top: -25%;
	    left: -25%;
	    width: 100%;
	    height: 150vh;
			background: radial-gradient(50% 50% at center, $pink 0%, rgba(0,0,0,0) 100%);
		} 
	}
}

#collections {
	padding-bottom: 50vh;
	.collections-list {
		.collection-list-item {
			padding: $padding 0;
			border-top: 1px solid black;
			position: relative;
			z-index:2;
			&:hover + .collection-prev {
				opacity: 1;
			}
		}
		.collection-prev {
			position: fixed;
	    top: 0;
	    left: 0;
	    width: 100%;
	    height: 100%;
	    display: flex;
	    justify-content: center;
	    opacity: 0;
	    z-index:1;
	    @include transition(opacity .2s linear);
			.img-cover {
		    width: 50%;
		    height: 100vh;
		    background-size: 60%;
		    background-repeat: no-repeat;
		    background-position: center;
			}
		}
	}
}

#collection {
	.collection-opening {
		height: 90vh;
		background-size: cover;
		background-position: center center;
	}
	.img-container {
		margin-top: 25vw;
		.portrait-img {
			width: 80%;
		  height: 0;
		  padding-bottom: 110%;
		  margin: 10%;
		  display:inline-block;
		  float: left;
		  background-size: cover;
			background-position: center center;
			@include media-breakpoint-up(md) {
				width: 30%;
				padding-bottom: 50%;
				&:nth-of-type(2n+1) {
					margin-top: -10vw;
				}
			}
		}
	}
	.text-container {
		@include media-breakpoint-up(md) {
			margin-top: -10vw;
		}
	}
	.moodboard {
		margin:$double-padding -#{$double-padding};
		height: 0;
	  padding-bottom: 100%;
		background-size: cover;
		background-position: center center;
	}
}

.footer {
	position: relative;
	&:before {
		content:'';
		display: inline-block;
		position: absolute;
		bottom: 0;
		left:0;
		height: 75vh;
		width: 100%;
		@include linearGradientV(white, $cyan);
		z-index: -1;
	}
}

#blog {
	.post-preview {
		padding-bottom: $padding;
	}
}

#about {
	.bio-lists {
		h2 {
			@extend .font-sans-m;
			font-weight: 600;
			padding-top: $padding;
		}
		p {
			@extend .font-sans-m;
			padding-bottom: $padding/2;
		}
		a {
			@extend .font-sans-m;
			text-decoration: underline;
		}
	}
}

// ------------------------------------------------------------------------
// BOOTSTRAP BREAKPOINTS

// xs ---                 Portrait phones
// sm ---  576px and up   Small devices (landscape phones)
// md ---  768px and up   Medium devices (tablets)
// lg ---  992px and up   Large devices (desktops)
// xl --- 1200px and up   Extra large devices (large desktops)

// No media query necessary for xs breakpoint as it's effectively `@media (min-width: 0) { ... }`
// @include media-breakpoint-up(sm) { ... }
// @include media-breakpoint-only(md) { ... }
// @include media-breakpoint-between(md, xl) { ... }
// @include media-breakpoint-down(lg) { ... }

