@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@300;400;500&display=swap");
*:not(i), *:not(i)::before, *:not(i)::after {
  margin: 0;
  padding: 0;
  border: none;
  box-sizing: border-box; }

html {
  -webkit-text-size-adjust: 100%;
  /* Prevent font scaling in landscape while allowing user zoom */ }

article, aside, details, figcaption, figure,
footer, header, main, menu, nav, section, summary {
  display: block; }

::-moz-selection {
  background: #6eebde;
  color: black; }

::selection {
  background: #6eebde;
  color: black; }

body:not(.user-is-tabbing) button:focus,
body:not(.user-is-tabbing) input:focus,
body:not(.user-is-tabbing) select:focus,
body:not(.user-is-tabbing) textarea:focus {
  outline: none; }

button,
input,
optgroup,
select,
textarea, html input[type="button"],
input[type="reset"],
input[type="submit"], button[disabled],
html input[disabled], button::-moz-focus-inner,
input::-moz-focus-inner, input[type="checkbox"],
input[type="radio"], input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button, input[type="search"], input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  border: none;
  background-image: none;
  background-color: transparent !important;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none; }

html body input:-internal-autofill-selected {
  background-color: transparent !important;
  background-image: none !important;
  color: -internal-light-dark-color(black, white) !important; }

@font-face {
  font-family: "Hatton";
  src: url("../fonts/Hatton-Regular.woff") format("woff"); }
.font-huge {
  font-family: "Hatton", serif;
  font-size: 5vw;
  letter-spacing: 0;
  line-height: 1.2;
  font-weight: 400;
  font-style: normal;
  font-stretch: normal; }
  @media (min-width: 576px) {
    .font-huge {
      font-size: 5vw; } }
  @media (min-width: 768px) {
    .font-huge {
      font-size: 5vw; } }
  @media (min-width: 992px) {
    .font-huge {
      font-size: 5vw; } }
  @media (min-width: 1200px) {
    .font-huge {
      font-size: 5vw; } }

.font-large {
  font-family: "Hatton", serif;
  font-size: 2.81vw;
  letter-spacing: 0;
  line-height: 1.2;
  font-weight: 400;
  font-style: normal;
  font-stretch: normal; }
  @media (min-width: 576px) {
    .font-large {
      font-size: 2.81vw; } }
  @media (min-width: 768px) {
    .font-large {
      font-size: 2.81vw; } }
  @media (min-width: 992px) {
    .font-large {
      font-size: 2.81vw; } }
  @media (min-width: 1200px) {
    .font-large {
      font-size: 2.81vw; } }

.font-m {
  font-family: "Hatton", serif;
  font-size: 18px;
  letter-spacing: 0;
  line-height: 1.2;
  font-weight: 400;
  font-style: normal;
  font-stretch: normal; }
  @media (min-width: 576px) {
    .font-m {
      font-size: 18px; } }
  @media (min-width: 768px) {
    .font-m {
      font-size: 18px; } }
  @media (min-width: 992px) {
    .font-m {
      font-size: 18px; } }
  @media (min-width: 1200px) {
    .font-m {
      font-size: 18px; } }

.font-sans-l {
  font-family: "Work Sans", sans-serif;
  font-size: 20px;
  letter-spacing: 0;
  line-height: 1.3em;
  font-weight: 400;
  font-style: normal;
  font-stretch: normal; }
  @media (min-width: 576px) {
    .font-sans-l {
      font-size: 20px; } }
  @media (min-width: 768px) {
    .font-sans-l {
      font-size: 20px; } }
  @media (min-width: 992px) {
    .font-sans-l {
      font-size: 20px; } }
  @media (min-width: 1200px) {
    .font-sans-l {
      font-size: 20px; } }

/* USAGE 
@include keyframes(slide-down) {
  0% { opacity: 1; }
  90% { opacity: 0; }
}

.element {
  width: 100px;
  height: 100px;
  background: black;
  @include animation('slide-down 5s 3');
}
*/
* {
  font-family: Hatton, serif;
  color: black; }

.color-white {
  color: white; }

.container-fluid {
  padding-left: 50px;
  padding-right: 50px; }
  .container-fluid .row {
    padding-top: 50px;
    padding-bottom: 50px; }

.gradient-bknd {
  position: relative; }
  .gradient-bknd:before {
    content: '';
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    background: #6eebde;
    /* Old browsers */
    background: -moz-linear-gradient(top, #6eebde 0%, white 100%);
    /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #6eebde), color-stop(100%, white));
    /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #6eebde 0%, white 100%);
    /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #6eebde 0%, white 100%);
    /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #6eebde 0%, white 100%);
    /* IE10+ */
    background: linear-gradient(to bottom, #6eebde 0%, white 100%);
    /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#000000',GradientType=0 );
    /* IE6-9 */ }

#home .home-opening .container-fluid .row {
  padding-top: 0;
  padding-bottom: 0; }
#home .home-img-container {
  margin-top: 10vw; }
  #home .home-img-container .col-md-4 {
    margin-top: 10vw; }
    #home .home-img-container .col-md-4 .cyan-img, #home .home-img-container .col-md-4 .portrait-img {
      max-width: 75%;
      height: 0;
      margin: 0 auto;
      padding-bottom: 110%;
      background-size: cover;
      background-position: center center;
      background-repeat: no-repeat; }
    #home .home-img-container .col-md-4 .cyan-img {
      max-width: 100%; }
    @media (min-width: 768px) {
      #home .home-img-container .col-md-4:nth-of-type(3n+2) {
        margin-top: -10vw; } }

#collection .collection-opening {
  height: 90vh;
  background-size: cover;
  background-position: center center; }
#collection .img-container {
  margin-top: 25vw; }
  #collection .img-container .portrait-img {
    width: 75%;
    height: 0;
    padding-bottom: 110%;
    margin: 12.5%;
    display: inline-block;
    float: left;
    background-size: cover;
    background-position: center center; }
    @media (min-width: 768px) {
      #collection .img-container .portrait-img {
        width: calc(50% - 16vw);
        padding-bottom: 50%; }
        #collection .img-container .portrait-img:nth-of-type(2n+1) {
          margin-top: -10vw; } }
@media (min-width: 768px) {
  #collection .text-container {
    margin-top: -10vw; } }
#collection .moodboard {
  margin: 50px -50px;
  height: 0;
  padding-bottom: 100%;
  background-size: cover;
  background-position: center center; }

/*# sourceMappingURL=index.css.map */
